@import url(https://fonts.googleapis.com/css?family=Gentium+Book+Basic);

body{
    background-color: azure;
    font-family:'Gentium Book Basic', serif;
}

#diceRow2, #diceRow4 {
    background-color:lightgray;
}

#diceArea div {
    padding: 0.8em;
}

#diceArea p{
    padding-top: 0.6em;
}